/* Contact section CSS */
.contact_bg {
  background: url("/public/images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
}
.inputs_design {
  outline: none;
  padding: 15px 15px;
  font-size: 14px;
  color: #fff;
  background: none;
  border-radius: 0.25rem;
  width: 100%;
  letter-spacing: 1px;
  border: 2px solid rgba(248, 249, 250, 0.36);
}
.textarea_design {
  min-height: 210px;
  resize: none;
  border-radius: 0.25rem;
  background: none;
  overflow: auto;
}
.submit_button {
  outline: none;
  padding: 1.2em 3em;
  font-size: 17px;
  color: #fff;
  background: #037ef3;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s all;
  font-weight: 600;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 0 44%;
}
.contact_box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.contact_data {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
